GENERIC_RESTART=unless-stopped

NGINX_PROXY_MANAGER=jc21/nginx-proxy-manager:2.12.3
NGINX_NAME=nginx.proxy.manager

MARIADB_IMAGE=jc21/mariadb-aria:10.4.15
MARIADB_NAME=mariadb.nginx.proxy.manager
MYSQL_ROOT_PASSWORD=replace-with-a-long-random-password
MYSQL_DATABASE=nginx
MYSQL_USER=nginx
MYSQL_PASSWORD=replace-with-a-long-random-password
